<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.DIVE2025.domain.login.mapper.RefreshMapper">

    <resultMap id="RefreshMap" type="com.example.DIVE2025.domain.login.entity.RefreshTokenEntity">
        <id     property="id"           column="id"/>
        <result property="email"     column="email"/>
        <result property="refresh"        column="refresh"/>
        <result property="createdAt"    column="createdAt"/>
        <result property="expiration"    column="expiration"/>
    </resultMap>

    <select id="existsByRefresh" resultType="boolean">
        SELECT EXISTS(SELECT 1 FROM refresh_token WHERE refresh = #{refresh})
    </select>

    <delete id="deleteByEmail">
        DELETE FROM refresh_token WHERE email = #{email}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO refresh_token (email, refresh, expiration)
        values (#{email}, #{refresh}, #{expiration})
    </insert>

</mapper>