<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.DIVE2025.domain.login.mapper.UserMapper">

    <resultMap id="UserMap" type="com.example.DIVE2025.domain.login.entity.UserEntity">
        <id     property="id"           column="id"/>
        <result property="username"     column="username"/>
        <result property="email"        column="email"/>
        <result property="role"         column="role"/>
        <result property="createdAt"    column="createdAt"/>
        <result property="updatedAt"    column="updatedAt"/>
    </resultMap>

    <select id="findByEmail" resultMap="UserMap">
        SELECT id, username, email, role, created_at, updated_at
        FROM users
        WHERE email = #{email}
        LIMIT 1
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, email, role)
        values (#{username}, #{email}, #{role})
    </insert>

    <update id="updateUser">
        UPDATE users
        SET role = #{role},
            updated_at = CURRENT_TIMESTAMP
        where id = #{id}
    </update>

</mapper>