<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.DIVE2025.domain.shelter.mapper.ShelterMapper">

    <select id="recommendedShelterId" resultType="com.example.DIVE2025.domain.shelter.dto.RecommendResponseDto">
        SELECT
        s.id,
        s.username,
        s.description,
        (6371 * ACOS(
            COS(RADIANS( #{latitude}))
                * COS(RADIANS(s.latitude))
                * COS(RADIANS(s.longitude) - RADIANS( #{longitude}))
                + SIN(RADIANS(#{latitude})) * SIN(RADIANS(s.latitude))
            )) AS distance,
        (sc.total_capacity - sc.cur_capacity) AS remainCapacity,
        FIELD(s.shelter_feature, 'GENERAL','VET','HOSPITAL') AS shelterRank,
        FIELD( #{animalCondition}, 'NORMAL','MILD','SEVERE')  AS animalRank
        FROM shelter s
        JOIN (
            SELECT sc1.shelter_id, sc1.total_capacity, sc1.cur_capacity
            FROM shelter_capacity sc1
            WHERE sc1.updated_at = (
                SELECT MAX(sc2.updated_at)
                FROM shelter_capacity sc2
                WHERE sc2.shelter_id = sc1.shelter_id
            )
        ) sc ON sc.shelter_id = s.id
        WHERE
            s.longitude != #{longitude} AND
            (sc.total_capacity - sc.cur_capacity) > 0 AND
            FIELD(s.shelter_feature, 'GENERAL','VET','HOSPITAL') &gt;= FIELD( #{animalCondition}, 'NORMAL','MILD','SEVERE')
        ORDER BY shelterRank, remainCapacity DESC, distance
    </select>


    <select id="getUsernameById"
            resultType="com.example.DIVE2025.domain.shelter.dto.GetUsernameResponseDto">
        SELECT username FROM shelter WHERE id = #{id}
    </select>

</mapper>